[build]
  command = "echo 'No build step needed'"
  publish = "."

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production]
  environment = { SUPABASE_URL = "https://iqxpnpiimzospvsxgbvb.supabase.co", SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlxeHBucGlpbXpvc3B2c3hnYnZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYzMzczMTksImV4cCI6MjA4MTkxMzMxOX0.dt9wwOynnIjhsI6mYAeqdWArWuAElyOnuDRCuEpMXU0" }
