[build]
  publish = "."

[[headers]]
  for = "/*"
  [headers.values]
    Cache-Control = "public, max-age=3600"
    Content-Security-Policy = "script-src 'self' https://www.gstatic.com https://www.gstatic.com/firebasejs/ https://cdnjs.cloudflare.com https://*.firebaseio.com 'unsafe-inline'; style-src 'self' 'unsafe-inline'; connect-src 'self' https://*.firebaseio.com https://*.firebaseapp.com https://www.gstatic.com; img-src 'self' data:"
    X-Content-Type-Options = "nosniff"
    X-Frame-Options = "SAMEORIGIN"
    X-XSS-Protection = "1; mode=block"
